In [155]:
import numpy as np
import pandas as pd

In [156]:
matches=pd.read_csv('matches.csv')
deliveries=pd.read_csv('deliveries.csv')

In [157]:
# getting runs of each inning from deliveries.csv, 

total_score_df= deliveries.groupby(['match_id','inning']).sum()['total_runs'].reset_index()
total_score_df

# storing this result in the variable for further use

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [158]:
# getting score of first inning of each match
total_score_df= total_score_df[total_score_df['inning']==1]
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [159]:

# merging this data into our first table(matches), 
match_df= matches.merge(total_score_df[['match_id','total_runs']], left_on='id',right_on='match_id')
match_df

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,152

In [160]:
# some data cleaning tasks
# 1. replacing teams names, if changes ex: delhi daredevils replace by delhi capitals 

match_df['team1']=match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2']=match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1']=match_df['team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['team2']=match_df['team2'].str.replace('Kings XI Punjab','Punjab Kings')



match_df['team1']=match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2']=match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [161]:
# 2. removing teams which are not longer playing


# match_df['team1'].unique() //getting all unique values in columns
teams=['Sunrisers Hyderabad', 
       'Mumbai Indians',
       'Royal Challengers Bangalore',
       'Kolkata Knight Riders',
       'Delhi Capitals', 
       'Punjab Kings',
       'Chennai Super Kings',
       'Rajasthan Royals'
      ]
match_df= match_df[match_df['team1'].isin(teams)]
match_df= match_df[match_df['team2'].isin(teams)]

In [162]:

match_df= match_df[match_df['dl_applied']==0]
match_df.shape

# now our data is cleaned with 626 rows remained

(626, 20)

## now merging necessary data from two tables
now we want to achive ball by ball data along with which city that ball is bowled and who was winner their while chasing respective target

In [163]:
# extracting relevant infor from our manipulated matches.csv
match_df=match_df[['match_id','city','winner','total_runs','date']]

In [164]:
delivery_df=match_df.merge(deliveries,on='match_id')

In [165]:
delivery_df=delivery_df[delivery_df['inning']==2]

In [166]:
delivery_df

,match_id,city,winner,total_runs_x,date,inning,batting_team,bowling_team,over,ball,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
125,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,...,0,0,0,0,1,0,1,NaN,NaN,NaN
126,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,...,0,0,0,0,0,0,0,NaN,NaN,NaN
128,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,...,0,0,0,0,2,0,2,NaN,NaN,NaN
129,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149573,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,2,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149574,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,3,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149575,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,4,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
149576,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,5,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149577,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,6,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [167]:
delivery_df['current_score']= delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [168]:
delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']

In [169]:
delivery_df['balls_left']=126-(delivery_df['over']*6 + delivery_df['ball'])

In [170]:
# calculatig wickets left column

delivery_df['player_dismissed']=delivery_df['player_dismissed'].fillna("0")
delivery_df['player_dismissed']=delivery_df['player_dismissed'].apply(lambda x: x if x=="0" else "1")

delivery_df['player_dismissed'] = delivery_df['player_dismissed'].astype('int')
wickets= delivery_df.groupby('match_id')['player_dismissed'].cumsum()

delivery_df['wickets_left']= 10-wickets

In [171]:
# crr= runs/overs
delivery_df['crr']=(delivery_df['current_score']*6)/(120-delivery_df['balls_left'])

In [172]:
# rrr = runs left/overs left

delivery_df['rrr']=(delivery_df['runs_left']*6)/(delivery_df['balls_left'])

In [173]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'date', 'inning',
       'batting_team', 'bowling_team', 'over', 'ball', 'batsman',
       'non_striker', 'bowler', 'is_super_over', 'wide_runs', 'bye_runs',
       'legbye_runs', 'noball_runs', 'penalty_runs', 'batsman_runs',
       'extra_runs', 'total_runs_y', 'player_dismissed', 'dismissal_kind',
       'fielder', 'current_score', 'runs_left', 'balls_left', 'wickets_left',
       'crr', 'rrr'],
      dtype='object')

In [174]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [175]:
delivery_df['result']=delivery_df.apply(result,axis=1)
delivery_df

,match_id,city,winner,total_runs_x,date,inning,batting_team,bowling_team,over,ball,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets_left,crr,rrr,result
125,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,...,0,NaN,NaN,1,206,119,10,6.000000,10.386555,0
126,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,...,0,NaN,NaN,1,206,118,10,3.000000,10.474576,0
127,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,...,0,NaN,NaN,1,206,117,10,2.000000,10.564103,0
128,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,...,0,NaN,NaN,3,204,116,10,4.500000,10.551724,0
129,1,Hyderabad,Sunrisers Hyderabad,207,05-04-2017,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,...,0,NaN,NaN,7,200,115,10,8.400000,10.434783,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149573,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,2,...,0,NaN,NaN,152,0,4,5,7.862069,0.000000,0
149574,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,3,...,0,NaN,NaN,154,-2,3,5,7.897436,-4.000000,0
149575,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,4,...,1,run out,KH Pandya,155,-3,2,4,7.881356,-9.000000,0
149576,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,5,...,0,NaN,NaN,157,-5,1,4,7.915966,-30.000000,0
149577,11415,Hyderabad,Mumbai Indians,152,12-05-2019,2,Chennai Super Kings,Mumbai Indians,20,6,...,1,lbw,NaN,157,-5,0,3,7.850000,-inf,0

In [176]:
final_df=delivery_df[[ 
             'batting_team',
             'bowling_team', 
             'city',
             'runs_left',
             'balls_left',
             'wickets_left', 
             'total_runs_x',
             'crr', 
             'rrr',
             'result']]

In [178]:
 # dropping raws which do not have city attibute

final_df.isnull().sum()
# final_df.dropna(inplace=True)
# final_df

batting_team      0
bowling_team      0
city            832
runs_left         0
balls_left        0
wickets_left      0
total_runs_x      0
crr               0
rrr               7
result            0
dtype: int64

In [180]:

final_df=final_df.sample(final_df.shape[0])
final_df

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
125011,Sunrisers Hyderabad,Kings XI Punjab,Mohali,164,92,8,201,7.928571,10.695652,0
113556,Rajasthan Royals,Royal Challengers Bangalore,Pune,93,37,6,180,6.289157,15.081081,0
34716,Delhi Daredevils,Rajasthan Royals,Ahmedabad,102,104,10,141,14.625000,5.884615,1
81150,Kings XI Punjab,Royal Challengers Bangalore,Bangalore,85,55,9,174,8.215385,9.272727,1
125343,Rajasthan Royals,Chennai Super Kings,Pune,80,23,2,210,8.041237,20.869565,0
...,...,...,...,...,...,...,...,...,...,...
33462,Deccan Chargers,Kolkata Knight Riders,Mumbai,154,110,10,161,4.200000,8.400000,0
71434,Delhi Daredevils,Kolkata Knight Riders,Pune,138,109,10,162,13.090909,7.596330,0
133763,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,15,13,6,183,9.420561,6.923077,1
46387,Chennai Super Kings,Kings XI Punjab,Dharamsala,37,15,6,192,8.857143,14.800000,1
130126,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,123,97,9,155,8.347826,7.608247,0

In [181]:
# handling cases where rrr = infinite
# occures +infinte when target is chased before 20 overs and 
#         -infinite when no balls is left to chase target 
final_df =final_df[ final_df['balls_left']!=0]

In [182]:
final_df.sample()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
79014,Royal Challengers Bangalore,Mumbai Indians,Mumbai,115,46,5,194,6.405405,15.0,0

# Data is ready to train!
### we start by splitting data and then apply linearrgression(as of now) to train data

In [183]:

X=final_df.iloc[:,:-1] # This selects all rows and all columns except the last one for features.
y=final_df.iloc[:,-1]  # This selects all rows and only the last column for the target.

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [184]:
X_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
91550,Kolkata Knight Riders,Chennai Super Kings,Ranchi,35,20,2,148,6.780000,10.500000
57884,Mumbai Indians,Kolkata Knight Riders,Mumbai,10,10,4,147,7.472727,6.000000
50115,Royal Challengers Bangalore,Chennai Super Kings,Chennai,154,99,8,183,8.285714,9.333333
35030,Royal Challengers Bangalore,Kings XI Punjab,Bangalore,54,30,8,203,9.933333,10.800000
97832,Mumbai Indians,Kings XI Punjab,Chandigarh,88,79,10,156,9.951220,6.683544
...,...,...,...,...,...,...,...,...,...
57839,Mumbai Indians,Kolkata Knight Riders,Mumbai,54,54,7,147,8.454545,6.000000
9836,Chennai Super Kings,Kolkata Knight Riders,Chennai,71,61,9,147,7.728814,6.983607
24698,Kolkata Knight Riders,Mumbai Indians,East London,146,112,9,148,1.500000,7.821429
76384,Delhi Daredevils,Chennai Super Kings,Delhi,117,63,6,169,5.473684,11.142857
6075,Kolkata Knight Riders,Kings XI Punjab,Chandigarh,18,5,4,167,7.773913,21.600000

In [186]:
X_test

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr
91774,Mumbai Indians,Kings XI Punjab,Mumbai,44,25,6,168,7.831579,10.560000
96639,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,62,49,8,142,6.760563,7.591837
122658,Chennai Super Kings,Kolkata Knight Riders,Chennai,53,25,7,207,9.726316,12.720000
67198,Royal Challengers Bangalore,Deccan Chargers,Bangalore,15,12,5,181,9.222222,7.500000
127773,Rajasthan Royals,Sunrisers Hyderabad,Jaipur,28,16,6,152,7.153846,10.500000
...,...,...,...,...,...,...,...,...,...
92715,Chennai Super Kings,Delhi Daredevils,Delhi,108,58,10,178,6.774194,11.172414
22311,Mumbai Indians,Deccan Chargers,Durban,83,58,9,168,8.225806,8.586207
27170,Rajasthan Royals,Royal Challengers Bangalore,Centurion,57,70,9,105,5.760000,4.885714
32107,Kings XI Punjab,Chennai Super Kings,Durban,31,6,2,116,4.473684,31.000000
45851,Royal Challengers Bangalore,Mumbai Indians,Bangalore,152,77,8,191,5.441860,11.844156

In [191]:

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf=  ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team'	,'city'])
],
                        remainder='passthrough')

In [192]:

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [193]:
pipe=Pipeline(steps=[
    ('step1',trf),
    ('step2',RandomForestClassifier())
])

    # ('step2',LogisticRegression(solver='liblinear'))

In [194]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', RandomForestClassifier())])

In [195]:
y_pred=pipe.predict(X_test)

In [196]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.9984759265673709